/**
* General CSS file 
* Styling for all general classes:
* 
*/

html, body{
	margin:0;
	padding:0;
}

body{
	background:#fff;
	font-size:16px;
	color:$font-color;
	font-family:$font-stack;
}


#main{

}